<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
    <form method="GET" action="/list">
        <input type="text" name="text" size="40" value="search for emotion">
        <input type="submit">
    </form>
    <table>
    {{#each dictionary}}
        <tr>
            <th>
                {{value}}
            </th>
            <th>
                {{emotions}}
            </th>
        </tr>
    {{/each}}
    </table>
    <form method="GET" action="/list">
        <input type="kao" name="kao" size="20" padding-right='1%' value="enter kaomoji">
        <input type="emotions" name="emotions" size="20" value="enter emotions">
        <input type="submit">
    </form>
</body>

