<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <form method="GET" action="/">
        <input type="text" name="text" value="enter your text here" size="40">
        <input type="submit">
    </form>
    Translated Text: {{new_text}} <br><br>
</body>