<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
    <link rel="stylesheet" type = "text/css" href="../css/main.css">
    <a href=http://localhost:3000>
    <h1>kaomoji</h1>
    <img src="../img/party.jpg" width="15%" height="15%"><br>
    </a>
    <h2>
        <a href=http://localhost:3000>
        <button type="button" align="right">Editor</button>
        </a>
        <a href=http://localhost:3000/list>
        <button type="button">dictionary</button><br>
        </a>
    </h2>
    {{{body}}}
</body>